{% load static %}
{% load i18n %}

<html>
<head>
<title>{% blocktrans %}Search - TobaccoFeed{% endblocktrans %}</title>

    <link type="text/css" rel="stylesheet" href="{% static "search_page/css/search_page_style.css" %}"></link>
    <link rel="icon" href="{% static "/favicon.ico" %}">

</head>

<body>

<!-- NAV BAR --> 

{% include "navbar.html" %}


<table class="table_content">

    <tr>
        <td class="side_bar"></td>

        <td class="main_content" valign="top">
            <div class="search_header" style="margin-top: 10px;">
                {% blocktrans %}Search results:{% endblocktrans %} <font color="#FFFFCC"><i>{{q}}</i></font>
            </div>

            {% if found|length == 0 %}

                <div class="search_header" style="margin: 15px 15px 25px 15px;">
                    <font size="5">
                        {% blocktrans %}nothing found{% endblocktrans %}
                    </font>
                </div>

            {% else %}

                <div class="search_header" style="margin: 15px 15px 25px 15px;">
                    <font size="5">
                        {% blocktrans %}Tobaccos found: {% endblocktrans %}{{total_count}}
                    </font>
                </div>

                <hr>

                <!-- Pagination -->

                <table width="94%" style="margin: 5px 3% 15px 3%;">
                    <tr>
                        <td align="left" width="33%">
                            {% if page > 1 %}
                            <form>
                                <input type="text" name="q" value="{{q}}" hidden="true">
                                <input type="text" name="page" value="{{page|add:-1}}" hidden="true">
                                <button type="submit" class="page_button">Prev</button>
                            </form>
                            {% endif %}
                        </td>
                        <td align="center">
                            <div class="search_header"><font size="5">{{page}}/{{page_count}}</font></div>
                        </td>
                        <td align="right" width="33%">
                            {% if page < page_count %}
                            <form>
                                <input type="text" name="q" value="{{q}}" hidden="true">
                                <input type="text" name="page" value="{{page|add:1}}" hidden="true">
                                <button type="submit" class="page_button">Next</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                </table>


                <!-- Results -->

                {% for rec in found %}
                    <a href="{{rec.url}}">
                    <table class="search_element" >
                        <tr>
                            <td class="search_tobacco_div">
                                <img src="{{rec.image}}" class="search_tobacco_image">
                            </td>
                            <td class="search_tobacco_brand" valign="middle">
                                {{rec.brand}}
                                {{rec.name}}
                            </td>
                        </tr>
                    </table>
                    </a>
                {% endfor %}


                <!-- Pagination -->

                <table width="94%" style="margin: 5px 3% 15px 3%;">
                    <tr>
                        <td align="left" width="33%">
                            {% if page > 1 %}
                            <form>
                                <input type="text" name="q" value="{{q}}" hidden="true">
                                <input type="text" name="page" value="{{page|add:-1}}" hidden="true">
                                <button type="submit" class="page_button">Prev</button>
                            </form>
                            {% endif %}
                        </td>
                        <td align="center">
                            <div class="search_header"><font size="5">{{page}}/{{page_count}}</font></div>
                        </td>
                        <td align="right" width="33%">
                            {% if page < page_count %}
                            <form>
                                <input type="text" name="q" value="{{q}}" hidden="true">
                                <input type="text" name="page" value="{{page|add:1}}" hidden="true">
                                <button type="submit" class="page_button">Next</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                </table>

            {% endif %}

        </td>

        <td class="side_bar"></td>
    </tr>

</table>

{% include "footer.html" %}

</body>

</html>