{% load static %}
{% load i18n %}

<html>

	<head>
		<title>Not Found! - TobaccoFeed</title>

		<link rel="icon" href="{% static "/favicon.ico" %}">

		<style type="text/css">
			body {
				background-color: #222828;
				background: radial-gradient(100% 100%, #222828, #323838);
				position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			}
			img {
				display: inline-block;
    			vertical-align: middle;
    			max-height: 100%;
    			max-width: 100%;
			}
		</style>

	</head>

	<body>
		<img src="{% static "/image/404.png" %}" alt="Not Found" />
	</body>

</html>