{% load static %}

<link type="text/css" rel="stylesheet" href="{% static "/navbar/nav_bar_style.css" %}"></link>
<script src="{% static "/navbar/animations.js" %}"></script>

<nav class="fixed_nav_bar">
    <div class="topnav">

        <a href="/">
            <div class="logo_div">
                <img src="{% static "/navbar/logo2.png" %}" class="logo_icon">
                <div class="logo_text">
                    TobaccoFeed
                </div>
            </div>
        </a>

        <div class="search_div" id="search_div">
            <form action="/search" method="get" id="search_form">
                <input name="q" class="search_bar" placeholder="Search tobacco" type="search" required id="search_bar" onclick="searchClicked()" maxlength="50">
                <input type=image src="{% static "/navbar/search_icon.png" %}" class="search_button" id="search_button">   
            </form>
        </div>

        <div class="user_div">
            <div class="dropdown">
                <div onclick="userClicked()" class="dropbtn">       
                    <img src="{% static "/navbar/user_icon.png" %}" class="user_icon">    
                    <div class="user_text">
                        Username
                    </div>
                </div>

                <div id="myDropdown" class="dropdown-content">
                    <a href="#profile">
                        <div class="user_link">
                            Profile
                        </div>
                    </a>
                    <a href="#settings">
                        <div class="user_link">
                            Settings
                        </div>
                    </a>
                    <a href="#logout">
                        <div class="user_link">
                            Log Out
                        </div>
                    </a>
                </div>

            </div>
        </div>

</nav>