{% load static %}
{% load i18n %}

<link type="text/css" rel="stylesheet" href="{% static "/basic_style_min.css" %}"></link>
<link type="text/css" rel="stylesheet" href="{% static "/fonts/fonts.css" %}"></link>
<link rel="icon" href="{% static "/favicon.ico" %}">
<script src="{% static "/navbar/js/navbar_actions.js" %}"></script>
<script src="{% static "/js/click_handler.js" %}"></script>

<nav class="fixed_nav_bar">
    <div class="topnav">

            <a href="/">
                <div class="logo_div">
                    <img src="{% static "/navbar/image/logo_circle.svg" %}" class="logo_icon" />
                    <div class="logo_text">
                        {% blocktrans %}TobaccoFeed{% endblocktrans %}
                    </div>
                </div>
            </a>

            <div class="search_div" id="search_div">
                <form action="/search" method="get" id="search_form">
                    <input name="q" class="search_bar" placeholder="Search tobacco" type="search" required id="search_bar" onclick="searchClicked()" maxlength="50" />
                    <input type=image src="{% static "/navbar/image/search_icon.svg" %}" class="search_button" id="search_button" />   
                </form>
            </div>

            {% if login != None %}

                <div onclick="userClicked()" class="dropbtn">       
                    <img src="{% static "/navbar/image/user_icon.svg" %}" class="user_icon" />    
                    <div class="user_text">
                        {{login}}
                    </div>
                </div>

                <div id="myDropdown" class="dropdown-content">

                    <a href="/user/{{login}}">
                        <button class="user_link">
                            {% blocktrans %}Profile{% endblocktrans %}
                        </button>
                    </a>

                    <form method="post" style="margin-bottom: 0;">
                    {% csrf_token %}
                        <input type="text" name="event" value="log_out" hidden="true">
                        <button type="submit" class="user_link">
                            {% blocktrans %}Log Out{% endblocktrans %}
                        </button>
                    </form>

                </div>

            {% else %}

                <a href="/auth" class="dropbtn">
                    <img src="{% static "/navbar/image/user_icon.svg" %}" class="user_icon" />    
                    <div class="user_text">
                        {% blocktrans %}Log In{% endblocktrans %}
                    </div>
                </a>

            {% endif %}


        </div>
</nav>