.search_header {
    margin-left:15px;
    color:#fff;
    font:700 36px DrugsThin,serif
}

.search_element {
    float:left;
    background-color:rgba(255,255,255,0.7);
    border-radius:10px;
    padding:5px;
    width:94%;
    margin-left:3%;
    margin-right:3%;
    text-align:center;
    margin-bottom:20px;
    -moz-transition:all .2s ease-out;
    -webkit-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out
}

.search_element:hover {
    background-color:rgba(255,255,255,0.9)
}

.search_tobacco_div {
    width:25%
}

.search_tobacco_image {
    height:150px
}

.search_tobacco_brand {
    color:#000;
    margin:0;
    vertical-align:center;
    font:700 24px DrugsThin,serif
}