body {
    margin: 0;
    background-image: url(tobacco_bg_inverse.jpg);
    background-attachment: fixed;
    background-color: #AAAAAA;
    min-width: 1000px;
    width: 100%;
}

.table_content {    
    margin-top: 40px;
}

.side_bar {
    width: 20%;
}

.main_content {
    margin:0;
    background-color: rgba(256,256,256,0.5);
}


.headercss {
    width: auto;
    height: 40px;
    background-color: #333333;
    position: relative;
}

.headerlogo {
    width: auto;
    height: 40px;
    background-color: #333333;
    position: relative;
}

.nav {
    width: auto;
    height: auto;
    background-color: #444444;
    position: relative;
    overflow: hidden;
}

.inf {
    width: auto;
    background-color: rgba(255,255,255,0.7);
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:left;
    width:100%;
    overflow: hidden;
}

li {
    float: left;
    width:100%;
    /*min-width: 243px;*/
    overflow: hidden;
}

.reqs {
    display: block;
    font-size: 14px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', Arial;
    letter-spacing: 2pt;
    line-height: 200%;
    overflow: hidden;
}