{% load static %}

<html>
<head>
<title>{{brand}} {{name}} - TobaccoFeed</title>

    <link type="text/css" rel="stylesheet" href="{% static "tobacco/tobacco_page_style.css" %}"></link>

    <link rel="icon" href="{% static "tobacco/favicon.ico" %}">

</head>

<body>

<!-- NAV BAR --> 
<!-- Should make it in separate file, cuz it's motherfucking copypaste -->

<nav class="fixed_nav_bar">
    <div class="topnav">

        <div class="logo_div">
            <img src="{% static "tobacco/logo2.png" %}" class="logo_icon">
            <div class="logo_text">
                TobaccoFeed
            </div>
        </div>

        <div class="search_div">
            <input class="search_bar" placeholder="Search tobacco">
            <img src="{% static "tobacco/search_icon.png" %}" class="search_icon">
        </div>

        <div class="user_div">
            <div class="dropdown">

                <div onclick="userClicked()" class="dropbtn">       
                    <img src="{% static "tobacco/user_icon.png" %}" class="user_icon">    
                    <div class="user_text">
                        Username
                    </div>
                </div>

              <div id="myDropdown" class="dropdown-content">
                Profile
                <hr>
                Settings
                <hr>
                Log Out
              </div>

            </div>
        </div>

</nav>


<!-- 
     Don't know how to make stylish empty spaces on sides!?
     Make a fucking table!
-->

<table width="100%" height="100%" class="table_content" \>

   <tr>
       <td class="side_bar"></td>

       <td class="main_content" valign="top">

            <table width="100%">
                <tr>
                    <hr>
                    <td width="27%" valign="top">
                        <img src={{image}} width="98%">

                    </td>
                    <td valign="top">
                        <div class="headercss">
                            <div class="headerlogo">
                                <p align=center> <font size=6 color=white> {{brand}} </font> </p>
                            </div>
                        </div>

                        <div class="nav">
                            <p align=center> <font size=7 color=white> {{name}} </font> </p>
                        </div>

                        <hr color = gray>

                        <div class="nav">
                            <p align=center> <font size=6 color=white> Description </font> </p>
                        </div>

                        <div class="inf"> 
                            <p align=center> <font size=4 color=black> {{tobacco.description}} </font> </p>
                        </div>

                        <hr color = gray>

                        <div class="nav">
                            <ul>
                                <li><a href=""><br>КРЕПОСТЬ: <b><font size="4">{{tobacco.strength}}</font></b></a></li>
                            </ul>
                        </div>
                        <div class="nav">
                            <ul>
                                <li><a href=""><br>ЖАРОСТОЙКОСТЬ: <b><font size="4">{{tobacco.heat}}</font></b></a></li>
                            </ul>
                        </div>
                        <div class="nav">
                            <ul>
                                <li><a href=""><br>ДЫМНОСТЬ: <b><font size="4">{{tobacco.smoke}}</font></b></a></li>
                            </ul>
                        </div>
                        <div class="nav">
                            <ul>
                                <li><a href=""><br>ВКУСОПЕРЕДАЧА: <b><font size="4">{{tobacco.taste}}</font></b></a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
            </table>


       </td>

       <td class="side_bar"></td>
   </tr>

</table>

</body>


<!-- SCRIPT FOR USER DROPDOWN -->
<!-- This shit is very ugly. Must find out how to store js in sep file -->

<script>

function userClicked() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn*')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<!-- END SRCIPT FOR USER DROPDOWN -->


</html>