{% load static %}

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>
        Main - TobaccoFeed
    </title>

    <link type="text/css" rel="stylesheet" href="{% static "main_page/main_page_style.css" %}"></link>

    <link rel="icon" href="{% static "main_page/favicon.ico" %}">

</head>


<body>

<nav class="fixed_nav_bar">
    <div class="topnav">

        <div class="logo_div">
            <img src="{% static "main_page/logo2.png" %}" class="logo_icon">
            <div class="logo_text">
                TobaccoFeed
            </div>
        </div>

        <div class="search_div">
            <input class="search_bar" placeholder="Search tobacco">
            <img src="{% static "main_page/search_icon.png" %}" class="search_icon">
        </div>

        <div class="user_div">
            <img src="{% static "main_page/user_icon.png" %}" class="user_icon">
            <div class="user_text">
                Username
            </div>
        </div>


    </div>
</nav>

<!-- CONTENT -->

<section class="content">
    <div class="description">
        <a class="button" href="">Newest Tobacco Right Here</a>
        <p></p>
        <a class="button" href="">The most complete information</a>
    </div>
</section>

<section class="content_add">
    <div class="description">
        <a class="button" href="">TobaccoFeed</a>
        <p></p>
        <a class="button" href="">coming soon</a>
    </div>
</section>

<section class="content_add1">
    <div class="description">
        <a class="button" href="">In production</a>
        <p></p>
        <a class="button" href="">since april 2017</a>
    </div>
</section>

<section class="content_add2">
    <div class="description">
        <a class="button" href="">Made with passion</a>
        <p></p>
        <a class="button" href="">to hookah</a>
    </div>
   <!-- <div class="description"/> -->
</section>

<section class="footer">
	<div class="copyright_init">© 235Room, 2017</div>
	<img src="{% static "main_page/kda_logo.png" %}" class="copyright"> 
	<img src="{% static "main_page/j_logo.png" %}" class="copyright"> 

	<p>Contact us:</b> <u>koptevda@ya.ru</u> | <u>procenkoeg@mail.ru</u></p>
</section>

<!--
<table width="100%" height="1000" border="0">

    <tr>
        <td class="side_bar"></td>
        <td class="main_content"></td>
        <td class="side_bar"></td>
    </tr>

</table>
-->

</body>

</html>