{% load static %}

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>
        Main - TobaccoFeed
    </title>

    <link type="text/css" rel="stylesheet" href="{% static "/fonts.css" %}"></link>

    <link type="text/css" rel="stylesheet" href="{% static "main_page/main_page_style.css" %}"></link>

    <link rel="icon" href="{% static "/favicon.ico" %}">

</head>


<body>

<!-- NAV BAR -->

{% include "navbar.html" %}

<!-- CONTENT -->

<section class="content">
    <div class="description">
        <a class="button" href="">Newest Tobacco Right Here</a>
        <p></p>
        <a class="button" href="">The most complete information</a>
    </div>
</section>

<section class="content_add">
    <div class="description">
        <a class="button" href="">TobaccoFeed</a>
        <p></p>
        <a class="button" href="">coming soon</a>
    </div>
</section>

<section class="content_add1">
    <div class="description">
        <a class="button" href="">In production</a>
        <p></p>
        <a class="button" href="">since april 2017</a>
    </div>
</section>

<section class="content_add2">
    <div class="description">
        <a class="button" href="">Made with passion</a>
        <p></p>
        <a class="button" href="">to hookah</a>
    </div>
</section>

<!-- FOOTER -->

{% include "footer.html" %}

</body>

</html>