{% load static %}

<!DOCTYPE html>
<html>

<head>

	<title>Authorization - TobaccoFeed</title>
	<link type="text/css" rel="stylesheet" href="{% static "auth_page/css/auth_page_style.css" %}"></link>
	<link rel="icon" href="{% static "/image/favicon.ico" %}">

</head>

<body>

{% include "navbar.html" %}


<table class="table_content">

	<tr>

		<td class="main_content" valign="center">

		<form method="post" action="/auth" class="login_form">
		{% csrf_token %}
			Login
			<br>
			<input type="text" name="login" id="login">
			<br>
			Password
			<br>
			<input type="password" name="password" id="password">
			<br>
			<button type="submit" class="login_button">Sign In</button>
			<br>
			<button type="submit" class="register_button">Sign Up</button>
		</form>

		</td>
	</tr>

</table>


{% include "footer.html" %}

</body>
</html>