
body {
    margin: 0;
    background-color: #AAAAAA;
    min-width: 1000px;
    width: 100%;
}

.fixed_nav_bar {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 50px;
}

.topnav {
    background-color: #555555;
    overflow: hidden;
    height: 50px;
    min-width: 1000px;
}

/* LOGO */

.logo_div {
    float: left;
    height: 50px;
    margin-left: 10%;
    width: 25%;
    padding: 0;
}

.logo_icon {
    float: left;
    height: 50px;
}

.logo_text {
    float: left;
    font-size: 26px;
    color: #faf3c0;
    line-height: 50px;
    font-family: Calibri, serif;
}

/* SEARCH WIDGET */

.search_div {
    float: left;
    width: 30%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
}

.search_icon {
    position: absolute;
    height: 25px;
    margin-top: 3px;
    margin-left: 10px;
}

.search_bar {
    border: 0;
    box-sizing: border-box;
    padding: 6px 6px 6px 19px;
    height: 100%;
    width: 50%;
    border-radius: 14px;
    font: 16px Helvetica, Arial, sans-serif;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    background: #333333;
    color: #888888;
}

.search_bar:focus {
    width: 80%;
    background-color: #DDDDDD;
    color: #333333;
    outline: none;
}

/* USER WIDGET */

.user_div {
    float: right;
    margin-right: 10%;
    height: 50px;
    padding: 0;
    max-width: 25%;
}

.user_text {
    float: left;
    margin-left: 10px;
    font-size: 20px;
    color: #CCCCCC;
    line-height: 50px;
    font-family: Calibri, serif;
}

.user_icon {
    float: left;
    height: 50px;
}

/* MAIN CONTENT */

.side_bar {
    background-color: #999999;
    width: 20%;
}

.main_content {
    background-color: #CCCCCC;
}

.content {
    font: normal 18px/22px "Varela Round", sans-serif;
    color: #2e2e2e;
    position: relative;
    background: #464646 url("bg_bar.jpg") no-repeat center center fixed;
    background-size: cover;
}

.content_add {
    margin-top: 2px;
    font: normal 18px/22px "Varela Round", sans-serif;
    color: #2e2e2e;
    position: relative;
    background: #464646 url("bg_content.jpg") no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 2px;
}

.content_add1 {
    margin-top: 2px;
    font: normal 18px/22px "Varela Round", sans-serif;
    color: #2e2e2e;
    position: relative;
    background: #464646 url("bg_content1.jpg") no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 2px;
}

.content_add2 {
    font: normal 18px/22px "Varela Round", sans-serif;
    color: #2e2e2e;
    position: relative;
    background: #464646 url("bg_content2.jpg") no-repeat center center fixed;
    background-size: cover;
}

.description {
    padding-top: 50px;
    min-height: 300px;
    text-align: center;
}

.summary {
    color: #d9dee2;
    margin-top: 40px;
    margin-bottom: 60px;
}

.button, .button:visited, .button-dark {
    font-size: 50px;
    display: inline-block;
    margin: 90px 10px 100px 10px;
    padding: 20px;
    font-family: "Signika", sans-serif;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
    text-transform: capitalize;
    text-align: center;
    transition: all 0.1s ease;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.head_title {
    font-size: 70px;
    margin-top: 150px;
    color: #DDDDDD;
}

.footer {
    margin-top: 2px;
    color: #CCCCCC;
    background: #222222;
    padding: 5px;
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
    z-index: 9999;
}

.copyright_init {
    display: inline-block;
    vertical-align: middle;
    font-family: serif;
    font-size: 20px;
}

.copyright {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}