.message_dialog {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.9);
    background-color: rgba(255,255,255,0.9);
    border-radius: 15px;
    text-align: center;
    font-family: DrugsThin, serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: 15px;
    overflow: hidden;
    border: 3px outset brown;
}

.message_dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.message_button {
    background: white;
    font-family: DrugsThin, serif;
    font-weight: bold;
    font-size: 18px;
    color: #FF5555;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    margin-top: 10px;

    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.message_button:focus {
    outline: none;
}

.message_button:hover {
    background-color: rgb(280,230,230); 
}