.all_content {
    margin-top:40px
}

.cell_table {
    width:100%;
    height:100%
}

.cell_td {
    width:100%;
    height:80%;
    text-align:center
}

.nav_arrow {
    width:70px;
    margin-top:30px;
    margin-bottom:40px;
    border-radius:15px;
    opacity:.5;
    -moz-transition:all .2s ease-out;
    -webkit-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out
}

.nav_arrow:hover {
    opacity:1
}

.header_content {
    background:#464646 url(/static/about_page/image/header_bg.jpg) no-repeat center center fixed;
    background-size:cover;
    text-align:center;
    margin-bottom:5px;
    min-height:100%
}

.header_div {
    display:inline-block
}

.header_icon {
    float:left;
    height:100px
}

.header_text {
    float:left;
    margin-left:15px;
    color:#fff;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px #000;
    font:700 100px/100px DrugsThin,Calibri,serif
}

.intro_content {
    background:#464646 url(/static/about_page/image/intro_bg.jpg) no-repeat center center fixed;
    background-size:cover;
    text-align:center;
    margin-bottom:5px;
    min-height:100%
}

.intro_text {
    color:#EEE;
    vertical-align:middle;
    margin-bottom:40px;
    margin-top:40px;
    text-shadow:#000 2px 2px 4px;
    font:700 50px DrugsThin,Calibri,serif
}

.intro_table {
    text-align:center;
    display:inline-block
}

.intro_td {
    border:3px solid #EEE;
    border-radius:15px;
    padding:30px;
    margin:40px;
    color:#EEE;
    background-color:rgba(1,1,1,0.5);
    text-shadow:#000 2px 2px 4px;
    font:700 1.3rem DrugsThin,Calibri,serif
}

.work_content {
    background:#464646 url(/static/about_page/image/work_bg.jpg) no-repeat center center fixed;
    background-size:cover;
    text-align:center;
    margin-bottom:5px;
    min-height:100%
}

.work_text {
    color:#EEE;
    vertical-align:middle;
    margin-bottom:40px;
    margin-top:40px;
    text-shadow:#000 2px 2px 4px;
    font:700 50px DrugsThin,Calibri,serif
}

.work_table {
    text-align:center;
    display:inline-block
}

.work_td {
    border:3px solid #EEE;
    border-radius:15px;
    padding:30px;
    margin:40px;
    color:#EEE;
    background-color:rgba(1,1,1,0.5);
    text-shadow:#000 2px 2px 4px;
    font:700 1.3rem DrugsThin,Calibri,serif
}

.release_content {
    background:#464646 url(/static/about_page/image/release_bg.jpg) no-repeat center center fixed;
    background-size:cover;
    text-align:center;
    min-height:100%
}

.release_text {
    color:#EEE;
    vertical-align:middle;
    border:3px solid #EEE;
    border-radius:15px;
    padding:10px;
    background-color:rgba(1,1,1,0.5);
    display:inline-block;
    margin:10px;
    font:700 70px DrugsThin,Calibri,serif
}