{% load static %}

<html>

<head>
	<title>
		{{user.login}} - TobaccoFeed
	</title>

	<link rel="icon" href="{% static "/favicon.ico" %}">
</head>

<body>

	{% include "navbar.html" %}

	<table class="table_content">

		<tr>
			<td class="side_bar"></td>

			<td class="main_content" valign="top">
				
				<div class="header_label_margined">
					{{user.login}}
				</div>

				<table width="100%">
					<tr>					

						<!-- LEFT COLUMN -->

						<td width="27%" valign="top" class="column_content" style="text-align: center;">

							<div class="header_content_light">
								<br>
								{% if avatar != None %}
								<img src={{avatar}} width="90%">
								{% else %}
								<img src="/static/navbar/image/user_icon_black.svg" width="90%">
								{% endif %}
								<br><br>
								{% if isHost == True %}
									You on TobaccoFeed
								{% else %}
									TobaccoFeed user
								{% endif %}
								<br><br>
							</div>

						</td>


						<!-- RIGHT COLUMN -->

						<td valign="top" class="column_content" width="73%" style="padding-left: 10px;">

							<div class="header_label">
								Bio
							</div>

							<div class="header_content_light">
								<br>
								<table width="100%" style="font-size: 20px;font-weight: 700;">
									{% if user_info.name != None %}
									<tr>
										<td align="right">
											<font style="text-align: left; margin-right: 10px;"><u>Name</u></font> 
										</td>
										<td align="left">
											<font style="text-align: right;">{{user_info.name}}</font> 
										</td>
									</tr>
									{% endif %}

									{% if user_info.b_date != None %}
									<tr>
										<td align="right">
											<font style="text-align: left; margin-right: 10px;"><u>Birth</u></font> 
										</td>
										<td align="left">
											<font style="text-align: right;">{{user_info.b_date}}</font> 
										</td>
									</tr>
									{% endif %}

									{% if user_info.place != None %}
									<tr>
										<td align="right">
											<font style="text-align: left; margin-right: 10px;"><u>Location</u></font> 
										</td>
										<td align="left">
											<font style="text-align: right;">{{user_info.place}}</font> 
										</td>
									</tr>
									{% endif %}

									<tr>
										<td align="right">
											<font style="text-align: left; margin-right: 10px;"><u>Email</u></font>  
										</td>
										<td align="left">
											<font style="text-align: right;">{{user.mail}}</font> 
										</td>
									</tr>
								</table>
								<br>
							</div>
							
							<div class="header_label">
								Friends
							</div>

							<div class="header_content_light">
								<br>
								We are working on this section
								<br><br>
							</div>

							<div class="header_label">
								Favourite
							</div>

							<div class="header_content_light">
								<br>
								We are working on this section
								<br><br>
							</div>

						</td>

					</tr>

				</table>


			</td>

			<td class="side_bar"></td>
		</tr>

	</table>

	{% include "footer.html" %}

</body>

</html>