{% load static %}
{% load i18n %}
{% load user_filters %}

<html>

<head>

	<title>
		{{user.login}} - {% blocktrans %}TobaccoFeed{% endblocktrans %}
	</title>

	<link rel="icon" href="{% static "/favicon.ico" %}">
	<link type="text/css" rel="stylesheet" href="{% static "/user_page/css/user_page_style.css" %}"></link>

</head>

<body>

	{% include "navbar.html" %}

	<table class="table_content">

		<tr>
			<td class="side_bar"></td>

			<td class="main_content" valign="top">
				
				<div class="header_label_margined">
					{{user.login}}
				</div>

				<table width="100%">
					<tr>					

						<!-- LEFT COLUMN -->

						<td width="27%" valign="top" class="column_content" style="text-align: center;">

							<div class="header_content_light">
								{% if user_info.avatar != None %}
								<a href="{{user_info.avatar|real_url}}" target="_blank">
									<img src={{user_info.avatar|real_url}} class="avatar_image">
								</a>
								{% else %}
								<img src="/static/navbar/image/user_icon_black.svg" class="avatar_image">
								{% endif %}
								{% if isHost == True %}
								<hr>
								<a href=/user/avatar_upload/{{login}} style="text-decoration:none; color:black;">{% blocktrans %}Change photo{% endblocktrans %}</a>
								<hr>
								<a href=/user/edit_bio/{{login}} style="text-decoration:none; color:black;">{% blocktrans %}Edit page{% endblocktrans %}</a>	
								<hr>							
								{% endif %}
							</div>

							{% if isHost == False and login != None %}
							<div class="header_content_light">
								{% if isFriend == None or isFriend == False %}
								<a href=#add_friend class="friends_link">{% blocktrans %}Add to friends{% endblocktrans %}</a>
								{% else %}
								<a href=#rm_friend class="friends_link">{% blocktrans %}Remove from friends{% endblocktrans %}</a>
								{% endif %}
							</div>
							{% endif %}

							<br>

							<div class="header_label">
								{% blocktrans %}Recent{% endblocktrans %}
							</div>

							<div class="header_content_light">
								<!--<p>{% blocktrans %}We are working on this section{% endblocktrans %}</p>-->
								<img src="/static/loading.gif" width="30" style="margin: 10px;" title="{% blocktrans %}We are working on this section{% endblocktrans %}">
							</div>

						</td>


						<!-- RIGHT COLUMN -->

						<td valign="top" class="column_content" width="73%" style="padding-left: 10px;">

							<div class="header_label">
								{% blocktrans %}Bio{% endblocktrans %}
							</div>

							<div class="header_content_light">
								<table class="user_info_table">
									{% if user_info.name != None %}
									<tr>
										<td align="right">
											<font style="text-align: left; margin-right: 10px;"><u>{% blocktrans %}Name{% endblocktrans %}</u></font> 
										</td>
										<td align="left">
											<font style="text-align: right;">{{user_info.name}}</font> 
										</td>
									</tr>
									{% endif %}

									{% if user_info.b_date != None %}
									<tr>
										<td align="right">
											<font style="text-align: left; margin-right: 10px;"><u>{% blocktrans %}Birth{% endblocktrans %}</u></font> 
										</td>
										<td align="left">
											<font style="text-align: right;">{{user_info.b_date}}</font> 
										</td>
									</tr>
									{% endif %}

									{% if user_info.place != None %}
									<tr>
										<td align="right">
											<font style="text-align: left; margin-right: 10px;"><u>{% blocktrans %}Location{% endblocktrans %}</u></font> 
										</td>
										<td align="left">
											<font style="text-align: right;">{{user_info.place}}</font> 
										</td>
									</tr>
									{% endif %}

									<tr>
										<td align="right">
											<font style="text-align: left; margin-right: 10px;"><u>{% blocktrans %}Email{% endblocktrans %}</u></font>  
										</td>
										<td align="left">
											<font style="text-align: right;">{{user.mail}}</font> 
										</td>
									</tr>
								</table>
							</div>
							
							<div class="header_label">
								{% blocktrans %}Friends{% endblocktrans %}
							</div>

							<div class="header_content_light">
								<img src="/static/loading.gif" width="30" style="margin: 10px;" title="{% blocktrans %}We are working on this section{% endblocktrans %}">
							</div>

							<div class="header_label">
								{% blocktrans %}Favourite{% endblocktrans %}
							</div>

							<div class="header_content_light">
								<img src="/static/loading.gif" width="30" style="margin: 10px;" title="{% blocktrans %}We are working on this section{% endblocktrans %}">
							</div>

							<div class="header_label">
								{% blocktrans %}Bookmarks{% endblocktrans %}
							</div>

							<div class="header_content_light">
								<img src="/static/loading.gif" width="30" style="margin: 10px;" title="{% blocktrans %}We are working on this section{% endblocktrans %}">
							</div>

						</td>

					</tr>

				</table>


			</td>

			<td class="side_bar"></td>
		</tr>

	</table>

	{% include "footer.html" %}

</body>

</html>