.avatar_image {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.user_info_table {
	margin: 5 auto;
	z-index: 1;
	font-size: 18px;
	font-weight: 700;
	width: 100%;
}

.friends_link {
	text-decoration: none;
	color: black;
	display: block;
	margin: 5px 0;
}

.edit_bio_form {
	margin-top: 10px;
	text-align: center;
	width:100%;
}

.user_info_table input {
	margin: 5px 10px 5px 10px;
	font-size: 18px;
	font-weight: 700;
	font-family: DrugsThin, serif;
	color: black;
	padding: 0 5px;
	width: 60%;
}

.edit_bio_submit {
	margin-top: 10px;
	font-size: 18px;
	font-weight: 700;
	font-family: DrugsThin, serif;
	color: black;
}

.edit_bio_submit:hover {
	color: green;
}