.avatar_image {
    display:block;
    width:90%;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    margin:10px auto
}

.user_info_table {
    margin:5px auto;
    z-index:1;
    font-size:18px;
    font-weight:700;
    width:100%
}

.follow_button {
    text-decoration:none;
    color:#000;
    margin:10px 0;
    cursor:pointer;
    width:100%;
    border-radius:5px;
    font:700 18px DrugsThin,serif
}

.edit_bio_form {
    margin-top:10px;
    text-align:center;
    width:100%
}

.user_info_table input {
    margin:5px 10px;
    color:#000;
    padding:0 5px;
    width:60%;
    font:700 18px DrugsThin,serif
}

.edit_bio_submit {
    margin-top:10px;
    color:#000;
    font:700 18px DrugsThin,serif
}

.edit_bio_submit:hover {
    color:green
}