.footer {
    color: #CCCCCC;
    background: rgba(1,1,1,0.5);

    padding-top: 10px;
    padding-bottom: 1px;

    vertical-align: middle;
    text-align: center;

    font-family: DrugsThin, serif;
    font-size: 12px;
    font-weight: bold;
    width: 100%;

   /* position: absolute;
    right: 0;
    bottom: 0;
    left: 0;*/
}

.copyright_init {
    display: inline-block;
    vertical-align: middle;
    font-family: DrugsThin, serif;
    font-weight: bold;
    font-size: 15px;
}

.copyright {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
}