
.fixed_nav_bar {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 40px;
}

.topnav {
    background-color: #333838;
    height: 40px;
    min-width: 800px;
}

/* LOGO */

.logo_div {
    float: left;
    height: 40px;
    margin-left: 10%;
    width: 25%;
    padding: 0;
}

.logo_icon {
    float: left;
    height: 40px;
}

.logo_text {
    float: left;
    font-size: 24px;
    color: #faf3c0;
    line-height: 40px;
    font-family: DrugsThin, Calibri, serif;
}

/* SEARCH WIDGET */

.search_div {
    float: left;
    width: 30%;
    height: 30px;
    margin-top: 5px;
    text-align: center;
}

.expand_div {
    width: 35%;
}

.search_button {
    position: absolute;
    height: 25px;
    margin-top: 3px;
    margin-left: 10px;
}

.search_button:focus {
    outline: none;
}

.search_bar {
    border: 0;
    box-sizing: border-box;
    padding: 6px 6px 6px 19px;
    height: 100%;
    width: 50%;
    border-radius: 14px;
    font: 16px DrugsThin, Helvetica, Arial, sans-serif;
    font-weight: bold;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    background: #222828;
    color: #888888;
}

/*-*/

.search_bar:focus {
    outline: none;
}

.search_bar_focus {
    width: 80%;
    background-color: #DDDDDD;
    color: #333333;
    outline: none;
}

/* USER WIDGET */

.user_div {
    float: right;
    margin-right: 12%;
    height: 40px;
    padding: 0;
    max-width: 25%;
}

.user_text {
    float: left;
    margin-left: 10px;
    font-size: 16px;
    color: #CCCCCC;
    line-height: 40px;
    font-family: DrugsThin, Calibri, serif;
}

.user_icon {
    float: left;
    height: 40px;
}

.dropbtn {
    background-color: #222828;
    color: white;
    font-size: 16px;
    border: none;
    height: 40px;
    cursor: pointer;
    outline: none;
    padding-right: 10px;
    padding-left: 10px;

    width: auto;

    float: right;
    margin-right: 12%;
    height: 40px;
    max-width: 25%;

    border-radius: 5px;

    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #444848;
    transition: all .2s ease-out;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    right: 12%;
    width: 10%;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    font-family: DrugsThin, serif;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin-top: 45px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;

    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.show {
   visibility: visible;
   /*display: block;*/
   opacity: 1;
}


.dropdown-content a {
    text-decoration: none;
    color: #333333;
}

.dropdown a:hover {
    background-color: #CCCCCC;
}

.user_link {
    margin: 8px;
    padding: 5px;
    background-color: #CCCCCC;
    border-radius: 5px;
    font-size: 15px;

    font-family: DrugsThin, Calibri, serif;
    font-weight: bold;

    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.user_link:hover {
    background-color: #777777;
    color: #FFFFFF;
}