.nav {
    width: auto;
    height: auto;
    background: rgba(1,1,1,0.5);
    position: relative;
    overflow: hidden;
}

.votes {
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: ClinicaRegular, Arial, serif;
    letter-spacing: 2pt;
}

.vote_icon {
    margin-left: 10px;
    display: inline-block;
    height: 15px;
    vertical-align: bottom;
}

.column_content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.main_image {
    background-color: rgba(255,255,255,0.5);
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    border-spacing: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

blockquote {
    font-style: italic;
    font-family: ClinicaRegular, serif;
    text-align: left;
    font-size: 16px;
}
 
blockquote:before {
    color: #AAAAAA;
    content: "\201C";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -.4em;
}

 
blockquote > p:first-child {
    display: inline;
}

.mixes_section {
    background-color: rgba(1,1,1,0.5);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.mixes_image {
    border: none;
    box-sizing: border-box;
    border-spacing: 0;
    width: 100%;
}

.mixes_table {
    padding: 10px 0;
}

.related_div {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    margin: 0;
}

.related_div a {
    text-decoration: none;
    color: #111111;
    font-family: DrugsThin, serif;
    font-weight: bold;
}

.related_table {
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
}

.related_td {
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    vertical-align: bottom;

    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out 
}

.related_td:hover {
    background-color: rgba(255,255,255,0.7);
}

.more_div {
    font-size: 14px;
    text-align: center;
    color: #CCCCCC;
    font-family: DrugsThin, serif;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out 
}

.more_div:hover {
    color: #AAFFDD;
}

/* collapse */

.collapse_div {
}

.collapse_div input {
  display: none;
  visibility: hidden;
}

.collapse_div label {
    margin-bottom: 10px;
    height: 30px;
    background-color: rgba(1,1,1,0.5);
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    font-family: DrugsThin, serif;
    font-weight: bold;
    letter-spacing: 2pt;
    text-transform: uppercase;
    line-height: 30px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    cursor: pointer;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out 
}

.collapse_div label:hover {
  color: #AAFFDD;
  background-color: #222;
}

.collapse_div label::after {
  padding-right: 10px;
  content: "\25bc";
  font-size: 14px;
  float: right;
}

#expand {
  height: 0px;
  overflow: hidden;
}

#toggle:checked ~ #expand {
  height: auto;
}

#toggle:checked ~ label::after {
  content: "\25b2";
}

.tags {
    background-color: rgba(255,255,255,0.8);
    overflow: hidden;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    border-spacing: 0;
    font-family: ClinicaItalic, Arial, serif;
    padding: 10px;
}

.tag_href {
    text-decoration: none;
    color: black;
}

.tag_href:hover {
    font-weight: bold;
}