{% load static %}
	
<html>
<head>
	<title>{{brand}} {{name}} - TobaccoFeed</title>

	<link type="text/css" rel="stylesheet" href="{% static "/tobacco_page/css/tobacco_page_style.css" %}"></link>
	<link type="text/css" rel="stylesheet" href="{% static "/ratebar/css/ratebar_style.css" %}"></link>

</head>

<body>

<!-- NAV BAR --> 

{% include "navbar.html" %}


<table class="table_content">
    <tr>
		<td class="side_bar"></td>

		<td class="main_content" valign="top">

			<table >
				<tr>
					<hr>

<!-- LEFT COLUMN -->

					<td width="27%" valign="top" class="column_content">
						<div class="headerlogo">
							<p align=center></p>
						</div>
						<img src={{image}} width="100%" class="main_image">

						<p></p>

						<div class="headerlogo">
							<p align=center> Related </p>
						</div>
						
						<img src="{% static "/tobacco_page/tobaccos/empty_tobacco.png" %}" class="main_image" width="99%"> 

					</td>

<!-- RIGHT COLUMN -->
<!-- brand and name -->

					<td valign="top" class="column_content">
							<div class="headerlogo">
								<p align=center>  {{brand}}  </p>
							</div>

						<div class="inf">
							<p align=center> <font size="5"> {{name}} </font></p>
						</div>
						<p></p>	

<!-- description -->

						<div class="headerlogo">
							<p align=center>  Description  </p>
						</div>

						<div class="inf"> 
						<blockquote> 
						   {{tobacco.description}} 
						</blockquote>
						</div>
						<p></p>

<!-- rates --> 

						<div class="headerlogo">
							<p align=center> System requirements </p>
						</div>

						<div class="inf">
							<div class="votes">
								STRENGTH: {{tobacco.strength}}
							</div>
							<div class="votes">
								<img src="{% static "/tobacco_page/image/vote_icon.png" %}" class="vote_icon"> 
								{{tobacco.strength_votes}}
							</div>

							<form id="ratingsForm">
								<div class="stars">

									{% for star_idx in "0123456789" %}
										<input type="radio" name="star" class="star-{{star_idx}}" id="strength{{star_idx}}" />
										<label class="star-{{star_idx}}" for="strength{{star_idx}}">1</label>
									{% endfor %}

									<span></span>
								</div>
							</form>

						</div>

						<div class="inf">
							<div class="votes">
								HEATPROOF: {{tobacco.heat}}
							</div>
							<div class="votes">
								<img src="{% static "/tobacco_page/image/vote_icon.png" %}" class="vote_icon"> 
								{{tobacco.heat_votes}}
							</div>

							<form id="ratingsForm">
								<div class="stars">

									{% for star_idx in "0123456789" %}
										<input type="radio" name="star" class="star-{{star_idx}}" id="heat{{star_idx}}" />
										<label class="star-{{star_idx}}" for="heat{{star_idx}}">1</label>
									{% endfor %}

									<span></span>
								</div>
							</form>

						</div>

						<div class="inf">
							<div class="votes">
								SMOKE: {{tobacco.smoke}}
							</div>
							<div class="votes">
								<img src="{% static "/tobacco_page/image/vote_icon.png" %}" class="vote_icon"> 
								{{tobacco.smoke_votes}}
							</div>

							<form id="ratingsForm">
								<div class="stars">

									{% for star_idx in "0123456789" %}
										<input type="radio" name="star" class="star-{{star_idx}}" id="smoke{{star_idx}}" />
										<label class="star-{{star_idx}}" for="smoke{{star_idx}}">1</label>
									{% endfor %}	 

									<span></span>
								</div>
							</form>

						</div>

						<div class="inf">
							<div class="votes">
								TASTINESS: {{tobacco.taste}}
							</div>
							<div class="votes">
								<img src="{% static "/tobacco_page/image/vote_icon.png" %}" class="vote_icon"> 
								{{tobacco.taste_votes}}
							</div>

							<form id="ratingsForm">
								<div class="stars">

									{% for star_idx in "0123456789" %}
										<input type="radio" name="star" class="star-{{star_idx}}" id="taste{{star_idx}}" />
										<label class="star-{{star_idx}}" for="taste{{star_idx}}">1</label>
									{% endfor %}	

									<span></span>
								</div>
							</form>

						</div>


						<div class="inf">
							<div class="votes">
								GENERAL MARK: {{tobacco.rating}}
							</div>
							<div class="votes">
								<img src="{% static "/tobacco_page/image/vote_icon.png" %}" class="vote_icon"> 
								{{tobacco.rating_votes}}
							</div>

							<form id="ratingsForm">
								<div class="stars">

									{% for star_idx in "0123456789" %}
										<input type="radio" name="star" class="star-{{star_idx}}" id="general{{star_idx}}" />
										<label class="star-{{star_idx}}" for="general{{star_idx}}">1</label>
									{% endfor %}   

									<span></span>
								</div>
							</form>

						</div>

						<p></p>

					</td>

				</tr>

<!-- mixes -->

				<tr>
					
					<td colspan="2" valign="top" class="column_content">
						
						<div class="headerlogo">
							<p align=center>  Popular mixes  </p>
						</div>

							<section class="mixes_section">
								<img src="{% static "/tobacco_page/image/tobacco_mixes.png" %}" class="mixes_image">
							</section>

					</td>

				</tr>

			</table>

		</td>

		<td class="side_bar"></td>
	</tr>
</table>

{% include "footer.html" %}

</body>

</html>