.news_table {
    width: 100%;
    margin-bottom: 10px;
}

.slider_area {
    width: 50%;
    background-color: rgba(1,1,1,0.5);
    border-radius: 5px;
}

.text_news_area {
    width: 50%;
    box-sizing: border-box;
    border-radius: 5px;
    border-spacing: 0;
    background-color: rgba(1,1,1,0.5)
}

.news_rec {
    color: #DDDDDD;
    text-decoration: none;
    font-size: 16px;
    font-family: DrugsThin, serif;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: all 0.2s ease;
    margin-right: 10px;
    margin-left: 10px;
    text-shadow: black 2px 2px 4px;
    padding: 3px;
    padding-left: 10px;
}

.news_rec a {
    color: #FFBBBB;
    text-decoration: none;
    transition: all 0.6s ease;
}

.news_rec a:hover {
    color: yellow;
    transition: all 0.6s ease;
}

.rec_active {
    background-color: rgba(255,255,255,0.2);
}

.about_div {
    font-size: 20px;
    font-family: DrugsThin, serif;
    font-weight: bold;
    color: #DDDDDD;
    text-shadow: black 2px 2px 4px;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

.about_href {
    font-size: 20px;
    font-family: DrugsThin, serif;
    font-weight: bold;
    color: #DDDDDD;
    background-color: rgba(1,1,1,0.3);
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    transition: all 0.2s ease;
    margin-right: 20px;
}

.about_href:hover {
    font-size: 22px;
    transition: all 0.2s ease;
}

.lock_image {
    width: 100%;
}