
body {
    margin: 0;
    background-color: #555555;
    min-width: 800px;
    width: 100%;
}

.side_bar {
    background-color: #999999;
    width: 20%;
}

.main_content {
    background-color: #CCCCCC;
}

.content {
    font: normal 18px/22px "Varela Round", sans-serif;
    color: #2e2e2e;
    position: relative;
    background: #464646 url("/static/main_page/backgrounds/bg_bar.jpg") no-repeat center center fixed;
    background-size: cover;
}

.content_add {
    margin-top: 2px;
    font: normal 18px/22px "Varela Round", sans-serif;
    color: #2e2e2e;
    position: relative;
    background: #464646 url("/static/main_page/backgrounds/bg_content.jpg") no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 2px;
}

.content_add1 {
    margin-top: 2px;
    font: normal 18px/22px "Varela Round", sans-serif;
    color: #2e2e2e;
    position: relative;
    background: #464646 url("/static/main_page/backgrounds/bg_content1.jpg") no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 2px;
}

.content_add2 {
    font: normal 18px/22px "Varela Round", sans-serif;
    color: #2e2e2e;
    position: relative;
    background: #464646 url("/static/main_page/backgrounds/bg_content2.jpg") no-repeat center center fixed;
    background-size: cover;
}

.description {
    text-align: center;
}

.button, .button:visited, .button-dark {
    font-size: 50px;
    display: inline-block;
    margin: 90px 10px 100px 10px;
    padding: 20px;
    font-family: "Signika", sans-serif;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
    text-transform: capitalize;
    text-align: center;
    transition: all 0.1s ease;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.head_title {
    font-size: 70px;
    margin-top: 150px;
    color: #DDDDDD;
}

.td_main {
    background-color: rgba(255,255,255,0.1);
    text-align: center;
    margin: 0;
    padding: 0;
}
