html, body{
height:100%;
margin:0px;
padding:0px;
}

body {
    margin: 0;
    background: url(/static/backgrounds/bg14.jpg);
    background-attachment: fixed;
    min-width: 800px;
    width: 100%;
    position: relative;
}

.table_content {    
    /*margin-top: 40px;*/
    margin-bottom: 0;
    border-spacing: 0;
    height: 100%;
    width: 100%;
}

.side_bar {
    width: 25%;
}

.main_content {
    padding: 20px;
    margin:0;
    background-color: rgba(256,256,256,0.1);
    height: 100%;
}

.main_header {
    background-color: rgba(1,1,1,0.5);
    padding-bottom: 5px;
    padding-top: 2px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    font-family: DrugsThin, serif;
    font-weight: bold;
    letter-spacing: 2pt;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    border-spacing: 0;
    margin-bottom: 10px;
    margin-top: 40px;
}

.news_table {
    width: 100%;
    margin-bottom: 10px;
}

.slider_area {
    width: 50%;
    background-color: rgba(1,1,1,0.5);
    border-radius: 5px;
}

.text_news_area {
    width: 50%;
    box-sizing: border-box;
    border-radius: 5px;
    border-spacing: 0;
    background-color: rgba(1,1,1,0.5)
}

.news_rec {
    color: #DDDDDD;
    text-decoration: none;
    font-size: 16px;
    font-family: DrugsThin, serif;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: all 0.6s ease;
}

.news_rec a {
    color: #FFBBBB;
    text-decoration: none;
}

.news_rec:hover {
    font-size: 17px; 
    transition: all 0.6s ease;
}

.rec_active {
    color: #99FF99;
    text-decoration: underline;
}