.fixed_nav_bar {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:9999;
	height:40px;
	padding:0;
}

.topnav {
	background-color:#333838;
	height:40px;
	min-width:800px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo_div {
	float:left;
	height:40px;
	margin-left:10%;
	width:25%;
	padding:0;
}

.logo_text {
	float:left;
	margin-left:5px;
	font-size:24px;
	color:#fff;
	line-height:40px;
	font-family:DrugsThin, Calibri, serif;
}

.search_div {
	float:left;
	width:30%;
	height:30px;
	margin-top:5px;
	text-align:center;
}

.expand_div {
	width:35%;
}

.search_button {
	position:absolute;
	height:25px;
	margin-top:3px;
	margin-left:10px;
}

.search_bar {
	border:0;
	box-sizing:border-box;
	height:100%;
	width:50%;
	border-radius:14px;
	font:16px DrugsThin, Helvetica, Arial, sans-serif;
	font-weight:700;
	-moz-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	transition:all .2s ease-out;
	background:#222828;
	color:#888;
	padding:6px 6px 6px 19px;
}

.search_bar_focus {
	width:80%;
	background-color:#DDD;
	color:#333;
	outline:none;
}

.user_div {
	float:right;
	margin-right:12%;
	height:40px;
	max-width:25%;
	padding:0;
}

.user_text {
	float:left;
	margin-left:10px;
	font-size:16px;
	color:#CCC;
	line-height:40px;
	font-family:DrugsThin, Calibri, serif;
}

.dropbtn {
	background-color:#222828;
	color:#FFF;
	font-size:16px;
	border:none;
	cursor:pointer;
	outline:none;
	padding-right:10px;
	padding-left:10px;
	width:auto;
	float:right;
	margin-right:12%;
	height:40px;
	max-width:25%;
	border-radius:5px;
	-moz-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
}

.dropbtn:hover,.dropbtn:focus {
	background-color:#444848;
	transition:all .2s ease-out;
}

.dropdown {
	float:right;
	position:relative;
	display:inline-block;
}

.dropdown-content {
	visibility:hidden;
	opacity:0;
	right:12%;
	width:10%;
	position:absolute;
	background-color:rgba(255,255,255,0.5);
	font-family:DrugsThin, serif;
	font-size:14px;
	font-weight:700;
	margin-top:45px;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	-moz-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	transition:all .2s ease-out;
	padding:5px;
}

.show {
	visibility:visible;
	margin-top: 50px;
	opacity:1;
}

.dropdown-content a {
	text-decoration:none;
	color:white;
}

.dropdown a:hover {
	background-color:#CCC;
}

.user_link {
	width: 100%;
	background-color:rgba(1,1,1,0.7);
	color: white;
	border-style: none;
	border-radius:5px;
	font-size:15px;
	font-family:DrugsThin, Calibri, serif;
	font-weight:700;
	-moz-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	transition:all .2s ease-out;
	padding:5px;
	cursor: pointer;
	margin: 5px 0;
}

.user_link:hover {
	background-color:rgba(1,1,1,1);
	color:#FFF;
}

.footer {
	color:#CCC;
	background:rgba(1,1,1,0.5);
	padding-top:10px;
	padding-bottom:1px;
	vertical-align:middle;
	text-align:center;
	font-family:DrugsThin, serif;
	font-size:12px;
	font-weight:700;
	width:100%;
}

.copyright_init {
	display:inline-block;
	vertical-align:middle;
	font-family:DrugsThin, serif;
	font-weight:700;
	font-size:15px;
}

.copyright {
	margin-left:10px;
	display:inline-block;
	vertical-align:middle;
	height:30px;
	fill:#FFF;
}

html,body {
	height:100%;
	margin:0;
	padding:0;
}

body {
	background:url(/static/image/bg14.jpg);
	background-attachment:fixed;
	min-width:800px;
	width:100%;
	position:relative;
	background-size:cover;
}

.table_content {
	margin-top:20px;
	margin-bottom:0;
	border-spacing:0;
	height:100%;
	width:100%;
}

.side_bar {
	width:25%;
}

.main_content {
	background-color:rgba(255,255,255,0.1);
	height:100%;
	margin:0;
	padding:25px 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header_label {
	margin-bottom:10px;
	height:30px;
	background-color:rgba(1,1,1,0.5);
	font-size:16px;
	color:#FFF;
	text-align:center;
	font-family:DrugsThin, serif;
	font-weight:700;
	letter-spacing:2pt;
	text-transform:uppercase;
	line-height:30px;
	border:1px solid gray;
	box-sizing:border-box;
	border-radius:5px;
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
}

.header_label_margined {
	height:30px;
	background-color:rgba(1,1,1,0.5);
	font-size:16px;
	color:#FFF;
	text-align:center;
	font-family:DrugsThin, serif;
	font-weight:700;
	letter-spacing:2pt;
	text-transform:uppercase;
	line-height:30px;
	border:1px solid gray;
	box-sizing:border-box;
	border-radius:5px;
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	margin:20px 0;
}

.header_content_dark {
	background-color:rgba(1,1,1,0.5);
	border-radius:5px;
	text-align:left;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header_content_light {
	width:auto;
	background-color:rgba(255,255,255,0.8);
	position:relative;
	overflow:hidden;
	font-size:18px;
	margin-bottom:10px;
	text-align:center;
	border:none;
	box-sizing:border-box;
	border-radius:5px;
	border-spacing:0;
	font-family:DrugsThin, Arial, serif;
	font-weight:700;
	padding:0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo_icon,.user_icon {
	float:left;
	height:40px;
}

.search_button:focus,.search_bar:focus {
	outline:none;
}