
/* Kaffee */

@font-face {
    font-family: KaffeeBold;
    src: url(fonts/KaffeeBold.otf);
}

@font-face {
    font-family: KaffeeRegular;
    src: url(fonts/KaffeeRegular.otf);
}

@font-face {
    font-family: KaffeeLight;
    src: url(fonts/KaffeeLight.otf);
}

@font-face {
    font-family: KaffeeThin;
    src: url(fonts/KaffeeThin.otf);
}

/* Nord */

@font-face {
    font-family: NordBold;
    src: url(fonts/NordBold.ttf);
}

@font-face {
    font-family: NordRegular;
    src: url(fonts/NordRegular.ttf);
}

@font-face {
    font-family: NordLight;
    src: url(fonts/NordLight.ttf);
}

@font-face {
    font-family: NordThin;
    src: url(fonts/NordThin.ttf);
}

 /* Drugs */

@font-face {
    font-family: DrugsThin;
    src: url(fonts/DrugsThin.otf);
 }

 /* Clinica */

@font-face {
    font-family: ClinicaItalic;
    src: url(fonts/ClinicaItalic.otf);
}

@font-face {
    font-family: ClinicaRegular;
    src: url(fonts/ClinicaRegular.otf);
}